<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/coffee_shop.css" type="text/css" />
  </head>
  <body>
    <div class="kiosk-wrapper flex-center">
      <div class="kiosk">
        <ul >
          <li>
            <div class="outer-circle-wrapper flex-center">
            <div class="outer-circle"></div>
          </div>
          </li>
          <li><div class="user-details-wrapper flex-container">
            <div class="user-name">
                <div class="flex-center">First Name</div>
                <div class="flex-center">KIOSK 01234 456 789</div>
            </div>  
            <div class="consumption-details">
                <div class="consumed-item">
                  <p>32</p>
                  <p>Coffee</p>
                </div>
                <div class="consumed-item">
                  <p>32</p>
                  <p>Coffee</p>
                </div>
                <div class="consumed-item">
                  <p>32</p>
                  <p>Coffee</p>
                </div>
            </div>
            </div></li>
          <li>
            <div class="item-list-wrapper item1">
              <div class="item-list">
                <div class="item-list-desc">
                  <div class="item-name-wrapper">
                    <div class="item-name">Coffee</div>
                    <div class="item-name-desc">With Extra Masala</div>
                  </div>
                  <div class="item-list-order-div">
                    <div class="customise-item personalise">Personalise</div>
                    <div class="customise-item dispense">Dispense</div>
                  </div>
                </div>
              </div>
              <div class="customise-div">
                <div class="milk-slidecontainer">
                  <label>Milk</label>
                  <input type="range" min="0" max="100" value="50" class="slider milk-range">
                  <div class="milk-value"></div>
                </div>
                <div class="volume-slidecontainer">
                  <label>Volume</label>
                  <input type="range" min="0" max="100" value="50" class="slider volume-range">
                  <p class="volume-value"></p>
                </div>
              </div>
              </div>
          </li>
          <li>
            <div class="item-list-wrapper item2">
            <div class="item-list">
              <div class="item-list-desc">
                <div class="item-name-wrapper">
                  <div class="item-name">Chai</div>
                  <div class="item-name-desc">With Extra Masala</div>
                </div>
                <div class="item-list-order-div">
                  <div class="customise-item personalise">Personalise</div>
                  <div class="customise-item dispense">Dispense</div>
                </div>
              </div>
            </div>
            <div class="customise-div">
              <div class="milk-slidecontainer">
                <label>Milk</label>
                <input type="range" min="0" max="100" value="50" class="slider milk-range">
                <div class="milk-value"></div>
              </div>
              <div class="volume-slidecontainer">
                <label>Volume</label>
                <input type="range" min="0" max="100" value="50" class="slider volume-range">
                <p class="volume-value"></p>
              </div>
            </div>
            </div>
          </li>
          <li>
            <div class="item-list-wrapper item3">
              <div class="item-list">
                <div class="item-list-desc">
                  <div class="item-name-wrapper">
                    <div class="item-name">Chai</div>
                    <div class="item-name-desc">With Extra Masala</div>
                  </div>
                  <div class="item-list-order-div">
                    <div class="customise-item personalise">Personalise</div>
                    <div class="customise-item dispense">Dispense</div>
                  </div>
                </div>
              </div>
              <div class="customise-div">
                <div class="milk-slidecontainer">
                  <label>Milk</label>
                  <input type="range" min="0" max="100" value="50" class="slider milk-range">
                  <div class="milk-value"></div>
                </div>
                <div class="volume-slidecontainer">
                  <label>Volume</label>
                  <input type="range" min="0" max="100" value="50" class="slider volume-range">
                  <p class="volume-value"></p>
                </div>
              </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="../static/js/kiosk.js" defer></script>
</html>
